* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--color-app: #0B4F6C;
	--color-bg: #FBFBFF;
	--color-text: #01BAEF;
}

body {
	background-color: var(--color-bg);
	font-family: 'Raleway', sans-serif;
	overflow: hidden;
}

/*nagłowek*/

.header{
	display: flex;
	justify-content: center;
}

.header h1{
	margin-top: 8vh;
	color: var(--color-text);
	font-size: 8vh;
	letter-spacing: 3px;
	font-weight: 800;
	cursor: default;
}


.header a{
	text-decoration: none;
}

/*przyciski*/

.buttons{
	display: flex;
	position: absolute;
	bottom:5%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.buttons span{
	margin-right: 2vh;
	color: var(--color-bg);
	font-weight: 800;
	font-size: 3vh;
	padding: 8px 20px;
	background-color: var(--color-app);
	border-radius: 5px;
	transition: .3s;
}

.buttons span:hover{
	cursor: pointer;
	background-color: var(--color-text);
}

.btn{
	padding: 8px 20px;
	font-size: 3vh;
	background-color: var(--color-app);
	border: none;
	border-radius: 5px;
	color: var(--color-bg);
	outline: 0;
	font-weight: 700;
	transition: .3s;
}

.btn:hover{
	animation: move .2s infinite alternate;
	cursor: pointer;
	background-color: var(--color-text);
}

.restart{
	display: none;
}

/*plansza*/

.game-scene{
	width: 50vh;
	height: 50vh;
	position: absolute;
	top:53%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.cell{
	border: 5px solid var(--color-app);
	cursor: pointer;
	color: var(--color-text);
	position: relative;
}

.cell span{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 14vh;
}

/*animacje i inne*/

.top{
	border-top: none;
}

.bottom{
	border-bottom: none;
}

.left{
	border-left: none;
}


.right{
	border-right: none;
}

.buttons .active{
	background-color: var(--color-text);
}

.bounce{
	animation: move .2s infinite alternate;
	background-color :var(--color-text);
}

.win-cell{
	transition: 2s;
	color: #ff4d36;
}

@keyframes move {
	0%{
		transform:translateY(0%);
	}

	100%{
		transform: translateY(-5px);
	}
}


